*{
	margin: 0;
	padding: 0;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body{
	min-width: 1350px;
}
ul{
	list-style: none;
}
body,div{ 
	margin:0; 
	padding:0;

}
.deep-blue{
	color:rgb(14,74,148);
}
.orange{
	color: rgb(216,107,63);
}
.blue{
	color: rgb(0,183,255);
}
.white{
	color: white;
}
.inline{
	display: inline-block;
}
.white{
	color: white;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.top-bar{
	
	background-color: rgb(103,103,136);
}
.viewbox{
	width: 1350px;
	position:relative;
	margin: 0 auto;

}
.top-bar .viewbox .left,.top-bar .viewbox .right{
	margin: 7px 0;
	
}
.top-logo{
	margin-left: 20px;
	width:35px;
	height: 42px;
	background-repeat: no-repeat;
	background-image: url('../images/whitelogo.png');
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	vertical-align: middle;
}

#second-logo{
	background-image: url('../images/water-logo.png');	
}
.detail{
	vertical-align: middle;
	border-right: 2px solid white;
	padding-right: 20px;

	text-align: center;
}
.chinese{
	font-size: 1rem;
}
.english{
	font-size: 0.3rem;
}
#second-detail .chinese{
	font-size: 1.3rem;
}
#second-detail .english{
	font-size: 0.8rem;
}
#second-detail{
	border:0;
}

.top-bar input{
	
	height: 25px;
}
.search-container{
	height: 42px;
	line-height: 42px;
	margin: auto;
}
.search-container .add-on {
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
	background-image: url('../images/map-search.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	   -moz-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.bd{
	background-color: rgb(51,51,51);
	padding-top: 40px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
.bd .leftfix{
	width: 350px;
	
	height:545px;
}
.bd .adaption{
	position: relative;
	margin-left: 350px;
	height: 545px;
}
/*rbg(52,113,137)*/
.adaption .back-earth{
	width: 600px;
	height: 250px;
	background-image: url('../images/map-earth.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	position: absolute;
	right: 0;
	bottom: 0;
}
.adaption .map-container{
	width: 92%;
	height: 80%;
	background-color: rgba(52,113,137,0.3);
	position: absolute;
	left:0;
	padding: 10px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;

}
#r-b-decoration{
	height: 250px;
	width: 40px;
	background-image: url('../images/r-b-decoration.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	position: absolute;
	right: 15px;
	bottom: 80px;
}
#r-t-decoration{
	height: 72px;
	width: 130px;
	background-image: url('../images/r-t-decoration.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	   -moz-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	position: absolute;
	right: 0;
	top: -36px;
}
#l-b-decoration{
	height: 138px;
	width: 225px;
	background-image: url('../images/l-b-decoration.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	   -moz-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	position: absolute;
	left: -50px;
	bottom: 37px;
}
#map-footer{
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	font-size: 0.8rem;
	line-height: 1.3rem;		
	-webkit-transform:translateX(-50%);		
	   -moz-transform:translateX(-50%);		
	    -ms-transform:translateX(-50%);		
	     -o-transform:translateX(-50%);		
	        transform:translateX(-50%);
}
.map-container .map-radio{
	position: absolute;
	right: -105px;
	top: 0;
}
.map-title{
	padding-left: 10px;
}
.map-title-logo{
	width: 100px;
	height: 100px;
	background-image: url('../images/map-title-logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;

}
.map-title-info{
	display: inline-block;
	vertical-align: middle;
	padding-right: 25px;
	background-image: url('../images/map-title-decoration.png');
	background-position: 82px 0px;
	background-repeat: no-repeat;
	
}
#title-info-1{
	font-size: 2.0rem;
	text-align: right;
	
	
}
#title-info-2{
	margin-right: 25px;
    font-size: 1.2rem;
}
#info-blank{
	width: 15px;
	height: 22px;
	background-color: rgb(64,224,255);
	display: inline-block;
}
.sub-title{
	margin:  0;
}

.sub-title-logo{
	height: 75px;
	width: 100px;
	background-image: url('../images/map-subtitle-logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.sub-title-info{
	display: inline-block;
	vertical-align: middle;
}
.sub-title-info-large{
	font-size: 1.3rem;
	font-weight: 600;
}
.sub-title-info-small{
	font-size: 0.8rem;
}
.option-list{
	margin: 20px auto;
	width: 320px;
	background-color: rgb(27,27,27);
	border-radius: 8px;
	height: 78px;
	position: relative;
}
.option-list li:nth-child(1){
	border-right: 2px solid rgb(51,51,51);
}
.option-list li:nth-child(2){
	border-right: 2px solid rgb(51,51,51);
}
.option-list:before{
	content: '';
	visibility: hidden;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.option-item{
	display: inline-block;	
	width: 32%;	
	text-align: center;
	box-sizing:border-box;
	vertical-align: middle;
	
}
.option-info{
	font-size: 0.7rem;
	color: rgb(77,226,248);
}
.option-logo{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#earth-logo{
	background-image: url('../images/view-earth.png');
}
#province-logo{
	background-image: url('../images/view-province.png');
}
#domain-logo{
	background-image: url('../images/view-domain.png');
}
.reminder-container{
	width: 320px;
	margin:0 auto;
	color: rgb(77,226,248);
	

}
.reminder-container .reminder-title{
	font-size: 1.2rem;
	line-height: 2rem;
}
.reminder-container ul {
	line-height: 1rem;
    padding-left: 20px;
    font-size: 0.8rem;
}
.reminder-container ul li:nth-child(1){
	list-style: square inside url('../images/blue-drop.png');
}
.reminder-container ul li:nth-child(2){
	list-style: square inside url('../images/red-drop.png');
}
#bottom-decoration{
	height: 60px;
	
	margin: 10px 90px 0 10px;;
	background-image: url('../images/bottom-decoration.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}